Host presto
  Hostname ec2-52-215-73-228.eu-west-1.compute.amazonaws.com
  User hadoop
  IdentityFile /root/.ssh/tomhewitt.pem
  ForwardAgent yes
  LocalForward 2289 127.0.0.1:8889

Host presto-basic-proxy
#presto-eng-eu-jumpoff
  Hostname 52.49.106.12
  User tomhewitt
  DynamicForward 5679
  LocalForward 3389 presto-basic-es.telefonicadev.com:8889
  Compression yes
  ForwardAgent yes